# Python
__pycache__/
.python-version
.venv/

# Environment
.env
.env.example

# Git
.git
.gitattributes
.gitignore

# GitHub
.github/

# Documentation
*.md
LICENSE

# Docker
.dockerignore
Dockerfile
Dockerfile.*
compose.yaml
compose.*.yaml

# Certbot
certbot/

# Nginx
nginx/
